.icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: 0.4s;
  cursor: pointer;
    object-fit: contain;

}

.icon:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.express-icon{
     background-color: yellow;  
}

.icon-name {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);

  background-color: white;
  color: black;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;

  opacity: 0;
  transition: 0.3s;
}
