.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000; /* background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-gif {
  width: 120px; /* gif size */
}